@charset "UTF-8";
header {height:40px;}
.header {height:40px;}

a {text-decoration:none; color:#000;}
a:hover {text-decoration:none; color:#000;}

.category:hover {background-color:#333;}

.menu2 {font-size:small;}

.search-box {width:600px;}
.search-category {font-size:small;}